[submodule "unet/segmentation"]
	path = unet/segmentation
	url = https://github.com/Spidartist/segmentation
[submodule "segmentation"]
	path = segmentation
	url = https://github.com/Spidartist/segmentation
